{% extends 'layout.html' %} {% block body %}
<h1>Dashboard <small> Welcome {{session.username}}</small></h1>
<a class="btn btn-success" href="/add_article"> Add Article</a>
<hr>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    {% for article in articles %}
    <tr>

        <td>{{article[1]}}</td>
        <td>{{article[2]}}</td>
        <td>{{article[4]}}</td>
        <!-- {% if session.username %} -->
        <td><a href="edit_article/{{article[0]}}" class="btn btn-default pullright">Edit</a></td>
        <td>
            <form action="{{url_for('delete_article', id=article[0])}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
        </td>
        <!-- {% else %} -->
        <td><a href="article/{{article[0]}}">{{article[1]}}</a></td>
        <!-- {% endif %} -->
    </tr>
    {% endfor %}
</table>
{% endblock %}